.navbar{
    height: 5rem;
}

.language-selector {
    position: relative;
    display: inline-block;
}

.selected-language {
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.custom-select-modern {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 6px 32px 6px 12px;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='gray' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-select-modern:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}


.selected-language img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 8px 0;
}

.language-dropdown img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 6px 0;
    transition: transform 0.2s;
}

.language-dropdown img:hover {
    transform: scale(1.05);
}

.language-selector.open .language-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-toggler {
    margin-top: -2rem;
}

.navbar-brand img {
    object-fit: contain;
    margin-top: -2rem;
}

@media (max-width: 991.98px) {
    #offcanvasNavbar {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .navbar-brand{
        margin-top: 2rem;
    }

  .navbar-nav .nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: width 0.3s ease;
  }

  .navbar-nav .nav-link {
    position: relative;
    padding: 0.5rem 1rem;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
  }

  .navbar-nav .nav-link:hover {
    color: #116626; 
    transform: scale(1.02); 
  }
}